body{
    margin: 0;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 600;
}

.container{
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.container::-webkit-scrollbar { 
    /* width: 0.6rem; */
    display: none; /*  Safari and Chrome */
}

.container::-webkit-scrollbar-thumb { /* Foreground */
    background: #999;
}

.container::-webkit-scrollbar-track { /* Background */
    background: #333;
}

.page{
    scroll-snap-align: center;
}

#homepage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(174, 50, 199);
    text-align: center;
    color: white;
    padding: 0 1rem;
}

.welcome{
    font-size: 8vw;
    font-weight: 800;
    opacity: 0;
    /* margin-top: 5rem; */
}

.go .welcome{
    /* font-size: 13vh;
    transition: font-size 2.5s;
    transition-delay: 1.2s; */
    opacity: 1;
    transition: opacity 2.5s;
    
}

.subtext{
    color: rgb(246, 202, 255);
    font-size: 2.3vw;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 4rem;
    opacity: 0;
}

.go .subtext{
    opacity: 1;
    margin-top: 0;
    transition: all 1.2s;
    transition-delay: 0.6s;
}
.maintext{
    scale: 50%;
}
.go .maintext{
    scale: 100%;
    transition: scale 2s;
    transition-delay: 0.6s;
}


#mainpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 0rem;
}

.toggle{
    position: relative;
    height: 3rem;
    width: 3rem;
    background: url(toggle.svg);
    border: none;
    float: right;
    margin: 0.5rem 1rem 0rem 0rem;
}

#result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    scale: 110%;
    margin: 0rem;
    /* opacity: 0; */
}

.drumroll{
    text-align: center;
    margin: 0.8rem;
}
.answercontainercontainer{
    display: flex;
    flex-direction: row;
}
.answercontainer{
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 1.4rem;
    /* margin: auto 1.4rem; */
}

#canmiss{
    border-right: 1px white solid;
}

.answercontainer>div{
    text-align: center;
}

.answer{
    font-family: 'Tilt Warp';
    font-size: 6rem;
    color:  rgb(174, 50, 199);
    margin: 0.5rem 2rem 0rem 2rem;
}

.input{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 2rem 2rem;
}

.inputnum{
    width: 2rem;
    height: 2rem;
    text-align: center;
}

.attend{
    width: 3rem;
}

.extra{
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 110%;
    width: 50%;
    padding: 1rem;
}

input{
    border-radius: 0.25rem;
    height: 2rem;
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Tilt Warp';
    color: rgb(225, 225, 225);
    background: rgba(255, 236, 250, 0.075);
    border: 1px  rgb(174, 50, 199) solid;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.arow{
    padding: 0.2rem 0;
}

.days{
    width: 5rem;
}

.tableinput{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.inputdiv{
    margin: 1rem 1rem 1rem 0;
    display: flex;
    flex-direction: row;
}

.seclabel{
    margin-right: 1rem;
}

#display{
    font-family: 'Tilt Warp';
    color: rgb(228, 228, 228);
    background-color: rgb(175, 53, 200);
    font-size: 1.6rem;
    margin: 1rem 0rem 0rem 0rem;
    padding: 0 1rem 0 1rem;
    height: 4rem;
    border-radius: 0.4rem;
    max-width: 14rem;
    border: none;
}
#display:hover{
    scale: 104%;
    color: white;
    transition: all 0.2s;
}

#display:active{
    scale: 99%;
}

#equivalent{
    font-size: small;
    color: rgb(202, 202, 202);
}

#lect{
    font-size: small;
    color: rgb(183, 183, 183);
}

tr:hover{
    color: rgb(208, 63, 237);
    transition: 0.2s;
}

.res-data{
    width: 12rem;
    /* border: 1px solid red; */
}

@media screen and (max-aspect-ratio: 1){

    #mainpage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgb(51, 51, 51);
        color: white;
        padding: 0rem;
    }

    .subtext{
        font-size: 1em;
    }

    .answer{
        font-family: 'Tilt Warp';
        font-size: 4rem;
        margin: 0.2rem 1.6rem;
    }

    .result{
        margin: 0rem 4rem;
        scale: 100%;
    }
    
    .answercontainer{
        padding: 0rem;
    }
    .answercontainercontainer{
        scale: 70%;
    }

    .extra{
        scale: 80%;
        margin: 0;
        padding: 0;
    }

    .res-data{
        width: 10rem;
        /* border: 1px solid red; */
    }
}